#wrapper {
  margin: 0 auto;
  width: 1200px;
  background: #fff;
  border: 1px solid #dee4e4;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
  .tab-content {
    padding: 0 20px;
    display: none;
  }
  .nav-tabs {
    display: flex;
    border-bottom: 1px solid #dee4e4;
  }
  .item-tabs {
    margin-right: 2px;
  }
  .nav-tabs li>a {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dee4e4;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
.active {
  display: block;
}