#wrapper {
  margin: 0 auto;
  width: 1200px;
  background: #fff;
  border: 1px solid #dee4e4;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

  .nav-tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  .item-tabs {
    margin-right: 2px;
  }
  .nav-tabs li a {
    display: inline-block;
    padding: 10px 30px;
    color: #2385c6;
  }
.tab-content {
  padding: 0 20px;
  display: none;
}
.passiveStyles {
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(245, 245, 245);
}
.activeStyles {
  border: 1px solid #ddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-color: transparent;
  cursor : default;
  color: #333!important;
}

.active {
  display: block;
}