body {
background-color: #88f;
}
.wrapper {
  width: 920px;
  margin: 0 auto;
}
.slick-dots li button:before {
  font-size: 16px;
}
.slick-prev:before, .slick-next:before  {
  color: blue;
  margin: 0 100px;
}
#text {

}
.text-section {
  display: none;
}
