#wrapper {
  margin: 0 auto;
  position: relative;
  padding: 10px 50px;
  width: 100px;
  }
  #btn {
    padding: 10px 5px;
    background-color: rgb(47, 95, 158);
    text-align: center;
    border: 1px solid rgb(47, 95, 158);
    border-radius: 5px;
    box-shadow:  1px 2px 2px #8080809d;
  }
    #btn:hover {
      padding: 10px 5px;
      background-color: rgb(48, 101, 172);
      text-align: center;
      border: 1px solid rgb(48, 101, 172);
      border-radius: 5px;
      box-shadow: 1px 2px 2px grey;
      cursor: pointer;
    }
    .button {
      color: blanchedalmond;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 300;
      text-decoration: none;
    }

#modWind {
  position: absolute;
  border: 1px solid #b3a5a517;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(148, 137, 137);
  text-align: right;
  top: 70px;
  }
.hidden {
  display: none;
  }
.show {
  display: block;
  }
  .text {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }
  .close {
    padding: 5px 10px 0px 0px;
    font-weight: bold;
    text-decoration: none;
    text-align: inherit;
    cursor: pointer;
}
